@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    background-image: url(https://t3.ftcdn.net/jpg/00/96/89/40/360_F_96894032_R1eY5W4QJZPC8OepL5iJKqBQBaXuvLTC.jpg);
    background-size:cover;
}
.sebaris {
    white-space: nowrap;
    padding: 15px;
}
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll ;
    height: 100vh;
}
section{
    height: 100vh;
    justify-content: center;
    padding: 50px;
    scroll-snap-align: start;
}
.one img {
    width: 320px;
    float: left;
}
.one h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: white;

}
.one h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: white;
}
.one h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    color: white;
}
.two h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: white;
}
.two h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: white;
}
.two img{
    width: 200px;
    border-radius: 25px;
    justify-content: center;
    align-self: center;
}
.three h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: white;
}
.containerr {
    font-family: 'Poppins', sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #ffffff;
}

.containerr h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #262626;
}

.form-group {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    display: none;
}